results/corpus_verb_bias/OWT1Metadata_Augmented.jsonl
results/corpus_verb_bias/OWT1Metadata.json
results/corpus_verb_bias/OWT2Metadata.json
results/corpus_verb_bias/WikiMetadata.json
results/LSTM/hidden650_batch128_dropout0.2_lr20.0.pt